<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConstituencyNames</key>
	<array>
		<string>प्राथमिक विद्यालय महामई</string>
		<string>प्राथमिक विद्यालय नागरी</string>
		<string>प्राथमिक विद्यालय जोनई</string>
		<string>प्राथमिक विद्यालय धौलपुर</string>
		<string>प्राथमिक विद्यालय नगला खेड़ा</string>
		<string>प्राथमिक विद्यालय धरवार रूम 1</string>
		<string>प्राथमिक विद्यालय धरवार रूम 2</string>
		<string>जूनियर हाई विद्यालय धरवार उत्तर</string>
		<string>जूनियर हाई विद्यालय धरवार दक्षिण</string>
		<string>प्राथमिक विद्यालय कूड़ाखर</string>
		<string>प्राथमिक विद्यालय फुलरई</string>
		<string>प्राथमिक विद्यालय मीरखपुर पुठिया</string>
		<string>प्राथमिक विद्यालय नगला जुला</string>
		<string>प्राथमिक विद्यालय आलई</string>
		<string>प्राथमिक विद्यालय मदनपुरा</string>
		<string>प्राथमिक विद्यालय घनश्यामपुर</string>
		<string>प्राथमिक विद्यालय नगला दयालपुरा</string>
		<string>डा। राम मनोहर लोहिया इंटर कालेज धनुआ</string>
		<string>प्राथमिक विद्यालय नगला जगन</string>
		<string>प्राथमिक विद्यालय नगला लायक</string>
		<string>प्राथमिक विद्यालय नगला फतेहपुर</string>
		<string>प्राथमिक विद्यालय बियरी भटपुरा पश्चिम</string>
		<string>प्राथमिक विद्यालय बियरी भटपुरा पूर्व</string>
		<string>प्राथमिक विद्यालय भुजपुरा बिवामऊ</string>
		<string>प्राथमिक विद्यालय ककरई</string>
		<string>प्राथमिक विद्यालय दर्शनपुर</string>
		<string>प्राथमिक विद्यालय खेड़ा बुजुर्ग उत्तर</string>
		<string>प्राथमिक विद्यालय खेड़ा बुजुर्ग दक्षिण</string>
		<string>प्राथमिक विद्यालय तुलरामपुर</string>
		<string>प्राथमिक विद्यालय भगवानपुरा</string>
		<string>प्राथमिक विद्यालय नगला केहरि</string>
		<string>प्राथमिक विद्यालय कुरसेना रूम 1</string>
		<string>प्राथमिक विद्यालय कुरसेना रूम 2</string>
		<string>प्राथमिक विद्यालय हनुमंत  खेड़ा</string>
		<string>प्राथमिक विद्यालय गढ़ी जालिम</string>
		<string>प्राथमिक विद्यालय रूकनपुरा</string>
		<string>पंचायतघर कंचनिया</string>
		<string>प्राथमिक विद्यालय नगला सुगंध नगर</string>
		<string>प्राथमिक विद्यालय अजनौरा</string>
		<string>समुदाईक केन्द्र पाठकपुरा</string>
		<string>प्राथमिक विद्यालय चंदनपुर बिवामऊ</string>
		<string>प्राथमिक विद्यालय शाहजहाँपुर</string>
		<string>प्राथमिक विद्यालय लरखोर</string>
		<string>प्राथमिक विद्यालय मोहनपुरा (लरखौर)</string>
		<string>प्राथमिक विद्यालय खुशलपुरा (लरखौर)</string>
		<string>प्राथमिक विद्यालय भाउपुरा</string>
		<string>प्राथमिक विद्यालय नगला सुभान</string>
		<string>जिला पंचायत इंटर कालेज हैवरा</string>
		<string>प्राथमिक विद्यालय हैवरा नई निर्माण</string>
		<string>प्राथमिक विद्यालय नगला अनिया</string>
		<string>प्राथमिक विद्यालय बनमई</string>
		<string>प्राथमिक विद्यालय भैसांन</string>
		<string>प्राथमिक विद्यालय परसोआ</string>
		<string>प्राथमिक विद्यालय आलमपुर नरिया</string>
		<string>प्राथमिक विद्यालय भावलपुर</string>
		<string>प्राथमिक विद्यालय निलोई पूर्व</string>
		<string>प्राथमिक विद्यालय निलोई पश्चिम</string>
		<string>प्राथमिक विद्यालय नगला राठौड़</string>
		<string>प्राथमिक विद्यालय प्रतापपुरा</string>
		<string>प्राथमिक विद्यालय महलई रूम 1</string>
		<string>प्राथमिक विद्यालय महलई रूम 2</string>
		<string>जोधासिंघ इंटर कालेज हरकपुर</string>
		<string>श्री मुलायम सिंह यादव इंटर कालेज रायनगर</string>
		<string>प्राथमिक विद्यालय नगला हरे</string>
		<string>प्राथमिक विद्यालय केलोखर</string>
		<string>प्राथमिक विद्यालय नगला सेवाराम</string>
		<string>प्राथमिक विद्यालय कुंजपुर</string>
		<string>प्राथमिक विद्यालय जारिखेरा</string>
		<string>प्राथमिक विद्यालय मुहबतपुर  नगला भगत</string>
		<string>कन्या प्राथमिक विद्यालय केस्ट</string>
		<string>प्राथमिक विद्यालय केस्ट</string>
		<string>प्राथमिक विद्यालय नगला इन्चा</string>
		<string>प्राथमिक विद्यालय दुर्गापुरा (लुधपुरा)</string>
		<string>कन्या उच्चतर प्राथमिक विद्यालय जसवंत नगर (आर एन -1)</string>
		<string>कन्या उच्चतर प्राथमिक विद्यालय जसवंत नगर (आर एन -2)</string>
		<string>सरकार लड़कियां इंटर कालेज जसवंत नगर (आर एन 1)</string>
		<string>सरकार लड़कियां इंटर कालेज जसवंत नगर (आर एन 2)</string>
		<string>सरकार लड़कियां इंटर कालेज जसवंत नगर (आर एन 3)</string>
		<string>सरकार लड़कियां इंटर कालेज जसवंत नगर (आर एन 4)</string>
		<string>जूनियर हाई विद्यालय जसवंत नगर (आर एन 1)</string>
		<string>जूनियर हाई विद्यालय जसवंत नगर (आर एन 2)</string>
		<string>जूनियर हाई विद्यालय जसवंत नगर (आर एन 3)</string>
		<string>प्राथमिक विद्यालय जसवंत नगर (आर एन  1)</string>
		<string>Pप्राथमिक विद्यालय जसवंत नगर (आर.एन. 2)</string>
		<string>परिगणित प्राथमिक विद्यालय जसवंत नगर (आर.एन. 1)</string>
		<string>परिगणित प्राथमिक विद्यालय जसवंत नगर (आर.एन. 2)</string>
		<string>हिंदू विद्यालय इंटर कॉलेज। जसवंत नगर (आर.एन. 1)</string>
		<string>हिंदू विद्यालय इंटर कॉलेज। जसवंत नगर (आर.एन. 2)</string>
		<string>हिंदू विद्यालय इंटर कॉलेज। जसवंत नगर (आर.एन. 3)</string>
		<string>हिंदू विद्यालय इंटर कॉलेज। जसवंत नगर (आर.एन. 4)</string>
		<string>प्राथमिक विद्यालय सिसहाट पूर्व</string>
		<string>प्राथमिक विद्यालय सिसहाट पश्चिम</string>
		<string>प्राथमिक विद्यालय पिपरेडी</string>
		<string>पंचायतघर ज्वालापुर ग्राम पिपरेडी</string>
		<string>प्राथमिक विद्यालय राजपुर तमेरी</string>
		<string>प्राथमिक विद्यालय तमेरी</string>
		<string>प्राथमिक विद्यालय जुगौरा</string>
		<string>प्राथमिक विद्यालय बहोरीपुर</string>
		<string>अशोक इंटर कालेज कुकावली (आर.एन.1)</string>
		<string>अशोक इंटर कॉलेज कुकावली (आर.एन.2)</string>
		<string>प्राथमिक विद्यालय बहादुरपुर नसीरपुर</string>
		<string>प्राथमिक विद्यालय निजामपुर</string>
		<string>प्राथमिक विद्यालय नगला रामसुन्दर पूर्व</string>
		<string>प्राथमिक विद्यालय नगला रामसुन्दर पश्चिम</string>
		<string>प्राथमिक विद्यालय नगला सलहदी</string>
		<string>प्राथमिक विद्यालय बलरई</string>
		<string>प्राथमिक विद्यालय डोडुआ गोपालपुर (गादी रामधन)</string>
		<string>प्राथमिक विद्यालय बिवामऊ पूर्व</string>
		<string>प्राथमिक विद्यालय बिवामऊ पश्चिम</string>
		<string>प्राथमिक विद्यालय AJABPUR बिवामऊ</string>
		<string>प्राथमिक विद्यालय नगला विशुन तिजोर पूर्व</string>
		<string>प्राथमिक विद्यालय नगला विशुन तिजोर पश्चिम</string>
		<string>प्राथमिक विद्यालय प्रेम नगर</string>
		<string>जूनियर हाई विद्यालय बॉथ</string>
		<string>प्राथमिक विद्यालय माड़िया फकीरे मौजा बॉथ</string>
		<string>प्राथमिक विद्यालय सरमई</string>
		<string>प्राथमिक विद्यालय नगला तौर उत्तर</string>
		<string>प्राथमिक विद्यालय नगला तौर दक्षिण</string>
		<string>प्राथमिक विद्यालय नगला ढूढ़ा</string>
		<string>प्राथमिक विद्यालय कीरतपुर</string>
		<string>प्राथमिक विद्यालय पीहरपुर</string>
		<string>प्राथमिक विद्यालय सिरसा बिवामऊ</string>
		<string>प्राथमिक विद्यालय सलेमपुर लोक सभा निर्वाचन क्षेत्र</string>
		<string>प्राथमिक विद्यालय चक</string>
		<string>कन्या प्राथमिक विद्यालय भीखनपुर</string>
		<string>प्राथमिक विद्यालय नगरीए जसोहन</string>
		<string>प्राथमिक विद्यालय गरमपुर</string>
		<string>जूनियर हाई विद्यालय सिरहौल</string>
		<string>प्राथमिक विद्यालय नगला छंद</string>
		<string>प्राथमिक विद्यालय मुहबतपुर जसोहन</string>
		<string>प्राथमिक विद्यालय बगिया जसोहन</string>
		<string>प्राथमिक विद्यालय जनकपुर (आर.एन. 1)</string>
		<string>प्राथमिक विद्यालय जनकपुर (आर.एन. 2)</string>
		<string>प्राथमिक विद्यालय नगला उदयसिंह</string>
		<string>प्राथमिक विद्यालय नगला किशोरी</string>
		<string>प्राथमिक विद्यालय झलोखर</string>
		<string>प्राथमिक विद्यालय सकोआ</string>
		<string>प्राथमिक विद्यालय जगसोरा पूर्व</string>
		<string>प्राथमिक विद्यालय जगसोरा पश्चिम</string>
		<string>प्राथमिक विद्यालय नगरिया भट्ट</string>
		<string>प्राथमिक विद्यालय नगला नया</string>
		<string>प्राथमिक विद्यालय नगला डुडहा</string>
		<string>प्राथमिक विद्यालय मलाजनी उत्तर</string>
		<string>प्राथमिक विद्यालय मलाजनी दक्षिण</string>
		<string>जूनियर हाई विद्यालय भतौरा</string>
		<string>प्राथमिक विद्यालय भतौरा</string>
		<string>प्राथमिक विद्यालय भोगताल</string>
		<string>प्राथमिक विद्यालय तकपुरा सराय जलाल</string>
		<string>प्राथमिक विद्यालय जैनपुर नगर</string>
		<string>प्राथमिक विद्यालय अराजी सरायभुपत (नगला बाबा)</string>
		<string>प्राथमिक विद्यालय सराय भुपत</string>
		<string>प्राथमिक विद्यालय नगला वर्माजीत</string>
		<string>प्राथमिक विद्यालय मलूपुर</string>
		<string>प्राथमिक विद्यालय बलैयापुर</string>
		<string>जूनियर हाई विद्यालय बनकटी बुजुर्ग</string>
		<string>प्राथमिक विद्यालय बीरमपुर</string>
		<string>प्राथमिक विद्यालय अधियापुर</string>
		<string>प्राथमिक विद्यालय नगला छत्ते</string>
		<string>प्राथमिक विद्यालय भैसरई</string>
		<string>कृषक इंटर कालेज विचपुरी खेड़ा</string>
		<string>प्राथमिक विद्यालय पतझारी</string>
		<string>प्राथमिक विद्यालय हजरतपुर</string>
		<string>जूनियर हाई विद्यालय जैंतिया</string>
		<string>प्राथमिक विद्यालय सोनई</string>
		<string>प्राथमिक विद्यालय रजमउ रूम 1</string>
		<string>प्राथमिक विद्यालय रजमउ रूम 2</string>
		<string>प्राथमिक विद्यालय कटिहार</string>
		<string>प्राथमिक विद्यालय बर्रा</string>
		<string>प्राथमिक विद्यालय बैदपुरा</string>
		<string>प्राथमिक विद्यालय जहानाबाद</string>
		<string>प्राथमिक विद्यालय चकूपुर</string>
		<string>प्राथमिक विद्यालय महोला</string>
		<string>प्राथमिक विद्यालय उमरही</string>
		<string>प्राथमिक विद्यालय खरदूली</string>
		<string>प्राथमिक विद्यालय छितौनी</string>
		<string>प्राथमिक विद्यालय रामेत</string>
		<string>प्राथमिक विद्यालय हीरापुर</string>
		<string>प्राथमिक विद्यालय बरोली बैदपुरा</string>
		<string>प्राथमिक विद्यालय सिपहरी</string>
		<string>प्राथमिक विद्यालय छिमारा पूर्व</string>
		<string>प्राथमिक विद्यालय छिमारा मध्य</string>
		<string>प्राथमिक विद्यालय बौराईंन</string>
		<string>प्राथमिक विद्यालय बदेइ काशीपुर</string>
		<string>प्राथमिक विद्यालय बदेइ काशीपुर पश्चिम</string>
		<string>प्राथमिक विद्यालय नगला सेवा</string>
		<string>प्राथमिक विद्यालय नगला बाबा भगवतीपुर नई निर्माण</string>
		<string>प्राथमिक विद्यालय भालसैया</string>
		<string>प्राथमिक विद्यालय नरौली भिडरुआ</string>
		<string>प्राथमिक विद्यालय लछवाई पूर्व</string>
		<string>प्राथमिक विद्यालय लछवाई पश्चिम</string>
		<string>प्राथमिक विद्यालय गींजा (आर.एन. 1)</string>
		<string>प्राथमिक विद्यालय गींजा (आर.एन. 2)</string>
		<string>प्राथमिक विद्यालय चौबेपुर पूर्व</string>
		<string>प्राथमिक विद्यालय झिगूपुर</string>
		<string>प्राथमिक विद्यालय भाली</string>
		<string>प्राथमिक विद्यालय मुचहरा</string>
		<string>प्राथमिक विद्यालय सैफई पूर्व</string>
		<string>प्राथमिक विद्यालय सैफई मध्य</string>
		<string>जूनियर हाई विद्यालय सैफई (आर.एन.1)</string>
		<string>जूनियर हाई विद्यालय सैफई (आर.एन. 2)</string>
		<string>जूनियर हाई विद्यालय अतिराजपुर</string>
		<string>पंचायत कार्यालय सैफई पुरानी मीटिंग हॉल</string>
		<string>प्राथमिक विद्यालय नगला सबी</string>
		<string>प्राथमिक विद्यालय उझियानी</string>
		<string>प्राथमिक विद्यालय बघुइया</string>
		<string>प्राथमिक विद्यालय पिंडारी नई निर्माण</string>
		<string>प्राथमिक विद्यालय पिंडारी नई निर्माण</string>
		<string>प्राथमिक विद्यालय कुइया पूर्व</string>
		<string>प्राथमिक विद्यालय कुइया</string>
		<string>प्राथमिक विद्यालय ओदमपुर</string>
		<string>प्राथमिक विद्यालय बरोली काला</string>
		<string>प्राथमिक विद्यालय नगला बजेरहार पूर्व</string>
		<string>प्राथमिक विद्यालय सहसारपुर</string>
		<string>डा। राम मनोहर लोहिया जेएचएस उसरै</string>
		<string>सर्वोदय इंटर कालेज लोंगपुर</string>
		<string>प्राथमिक विद्यालय तुलसीपुर नई निर्माण</string>
		<string>प्राथमिक विद्यालय नगला डरिये</string>
		<string>प्राथमिक विद्यालय भगीपुर</string>
		<string>प्राथमिक विद्यालय नंदपुर</string>
		<string>प्राथमिक विद्यालय कुम्हावर</string>
		<string>प्राथमिक विद्यालय उद्धमपुर</string>
		<string>प्राथमिक विद्यालय हरदोई (आर.एन. 1)</string>
		<string>प्राथमिक विद्यालय हरदोई (आर.एन. 2)</string>
		<string>जूनियर हाई विद्यालय हरदोई</string>
		<string>प्राथमिक विद्यालय मोहती</string>
		<string>प्राथमिक विद्यालय लाडमपुर</string>
		<string>प्राथमिक विद्यालय कठुआ</string>
		<string>प्राथमिक विद्यालय नगला मठिया</string>
		<string>प्राथमिक विद्यालय शिवपुरी तमरुआ पूर्व</string>
		<string>प्राथमिक विद्यालय शिवपुरी तमरुआ पश्चिम</string>
		<string>प्राथमिक विद्यालय मढैयापुर</string>
		<string>प्राथमिक विद्यालय सरवरपुर</string>
		<string>प्राथमिक विद्यालय प्रसन्ना पूर्व</string>
		<string>प्राथमिक विद्यालय प्रसन्ना पश्चिम</string>
		<string>प्राथमिक विद्यालय नगला कूकपुर</string>
		<string>प्राथमिक विद्यालय नगला बने</string>
		<string>प्राथमिक विद्यालय मंिगव्ना (आर.एन. 1)</string>
		<string>प्राथमिक विद्यालय मंिगव्ना (आर.एन. 2)</string>
		<string>प्राथमिक विद्यालय थुलरई</string>
		<string>प्राथमिक विद्यालय सरसई प्यारा</string>
		<string>प्राथमिक विद्यालय नगला कोटिया</string>
		<string>प्राथमिक विद्यालय शादीपुर</string>
		<string>प्राथमिक विद्यालय जगन्नाथपुर</string>
		<string>जूनियर हाई विद्यालय कर्री</string>
		<string>जूनियर हाई विद्यालय कर्री</string>
		<string>प्राथमिक विद्यालय नगला बहेलिया (कर्री)</string>
		<string>प्राथमिक विद्यालय कलपुरा</string>
		<string>प्राथमिक विद्यालय गणेशपुर</string>
		<string>प्राथमिक विद्यालय भूतहा</string>
		<string>प्राथमिक विद्यालय बीना पश्चिम</string>
		<string>प्राथमिक विद्यालय बीना पश्चिम</string>
		<string>प्राथमिक विद्यालय पारोली रमईन</string>
		<string>प्राथमिक विद्यालय कटैयापुर (कृपालपुर)</string>
		<string>प्राथमिक विद्यालय हिद्दपुरा</string>
		<string>प्राथमिक विद्यालय उंवा संतोषपुर</string>
		<string>जूनियर हाई विद्यालय संतोषपुर उंवा</string>
		<string>प्राथमिक विद्यालय ईश्वरपुर</string>
		<string>प्राथमिक विद्यालय बरलोकपुर पूर्व</string>
		<string>प्राथमिक विद्यालय बरलोकपुर पश्चिम रूम 1</string>
		<string>प्राथमिक विद्यालय बरलोकपुर पश्चिम रूम 2</string>
		<string>प्राथमिक विद्यालय लोकपुरा</string>
		<string>प्राथमिक विद्यालय सीपुरी</string>
		<string>प्राथमिक विद्यालय आगूपुर गोपालपुर</string>
		<string>प्राथमिक विद्यालय आगूपुर गोपालपुर</string>
		<string>प्राथमिक विद्यालय आरजी गुबरिया</string>
		<string>प्रहलाद इस्मारक इंटर कालेज कृष्णा नगर चौपुला</string>
		<string>प्रहलाद इस्मारक इंटर कालेज कृष्णा नगर चौपुला</string>
		<string>प्राथमिक विद्यालय मुगलपुरा</string>
		<string>प्राथमिक विद्यालय नगला सबी</string>
		<string>प्राथमिक विद्यालय मूँज पूर्व-1</string>
		<string>प्राथमिक विद्यालय मूँज पूर्व-2</string>
		<string>प्राथमिक विद्यालय मूँज पश्चिम</string>
		<string>प्राथमिक विद्यालय रामपुरा</string>
		<string>प्राथमिक विद्यालय फर्दपुरा</string>
		<string>प्राथमिक विद्यालय मसनई</string>
		<string>प्राथमिक विद्यालय जैनपुर चौबिया</string>
		<string>प्राथमिक विद्यालय चौबिया</string>
		<string>प्राथमिक विद्यालय बखितयारपुर</string>
		<string>प्राथमिक विद्यालय भडियापुर रहीं</string>
		<string>प्राथमिक विद्यालय तिसुआदेव</string>
		<string>प्राथमिक विद्यालय मोहनपुर रहीं</string>
		<string>प्राथमिक विद्यालय नीवसईं</string>
		<string>जूनियर हाई विद्यालय ककरपुर</string>
		<string>प्राथमिक विद्यालय गोरा दयालपुर</string>
		<string>प्राथमिक विद्यालय गोरा दयालपुर</string>
		<string>प्राथमिक विद्यालय रहीं</string>
		<string>प्राथमिक विद्यालय रूप पुर सराय भीखण</string>
		<string>प्राथमिक विद्यालय गुलाबपुर</string>
		<string>प्राथमिक विद्यालय कल्याणपुर रहीं</string>
		<string>प्राथमिक विद्यालय बिहारीपुर</string>
		<string>प्राथमिक विद्यालय अड़ूपुरा</string>
		<string>प्राथमिक विद्यालय केशोपुर रहीं</string>
		<string>कन्या प्राथमिक विद्यालय गंगापुर</string>
		<string>प्राथमिक विद्यालय बिठौली</string>
		<string>प्राथमिक विद्यालय परतापुर</string>
		<string>प्राथमिक विद्यालय खेड़ा प्यारा</string>
		<string>प्राथमिक विद्यालय खेड़ा प्यारा</string>
		<string>प्राथमिक विद्यालय ढूढ हा</string>
		<string>प्राथमिक विद्यालय आदरपुर</string>
		<string>प्राथमिक विद्यालय जबरपुर उत्तर</string>
		<string>प्राथमिक विद्यालय नगला ताल</string>
		<string>प्राथमिक विद्यालय लखनपुर पचार गोत्र</string>
		<string>प्राथमिक विद्यालय दिबरसै</string>
		<string>प्राथमिक विद्यालय अपूरपुर</string>
		<string>किसान उच्च माध्यमिक विद्यालय शेखुपुर चन्देथी</string>
		<string>जूनियर हाई विद्यालय हिट पूर्व</string>
		<string>जूनियर हाई विद्यालय हिट पश्चिम</string>
		<string>प्राथमिक विद्यालय नगला भुज</string>
		<string>जूनियर हाई विद्यालय रौरा पूर्व</string>
		<string>जूनियर हाई विद्यालय रौरा पश्चिम</string>
		<string>सामुदायिक मिलानो केन्द्र खिरिया</string>
		<string>प्राथमिक विद्यालय बकोली</string>
		<string>प्राथमिक विद्यालय शेखुपुर पचार गोत्र</string>
		<string>जूनियर हाई विद्यालय नगला जींद</string>
		<string>प्राथमिक विद्यालय संतोषपुर पचार गोत्र</string>
		<string>प्राथमिक विद्यालय पंजा</string>
		<string>प्राथमिक विद्यालय केशोपुर</string>
		<string>जन हितकारी एम.वी. नगला भवर</string>
		<string>प्राथमिक विद्यालय तकपुरा</string>
		<string>प्राथमिक विद्यालय बानी हरदू</string>
		<string>प्राथमिक विद्यालय चमरौआ</string>
		<string>जिला परिसाद उच्च माध्यमिक विद्यालय सरसैनावर पूर्व</string>
		<string>जिला परिसाद उच्च माध्यमिक विद्यालय सरसैनावर</string>
		<string>जिला पंचायत उच्च माध्यमिक विद्यालय सरसैनावर</string>
		<string>प्राथमिक विद्यालय गिरधरपुर</string>
		<string>प्राथमिक विद्यालय नगला बालसिंघ</string>
		<string>प्राथमिक विद्यालय दौलतपुर</string>
		<string>प्राथमिक विद्यालय भादरपुरा</string>
		<string>प्राथमिक विद्यालय नगला जलाल</string>
		<string>प्राथमिक विद्यालय सुंदरा</string>
		<string>प्राथमिक विद्यालय तिरखी तिलोकपुर</string>
		<string>प्राथमिक विद्यालय नगला ढूढहां</string>
		<string>जूनियर हाई विद्यालय कदमपुर पश्चिम</string>
		<string>प्राथमिक विद्यालय कदमपुर</string>
		<string>प्राथमिक विद्यालय किशनपुरा</string>
		<string>प्राथमिक विद्यालय उदयपुर काला</string>
		<string>प्राथमिक विद्यालय मूर्छा</string>
		<string>सहकारी संघ ऊसराहार</string>
		<string>प्राथमिक विद्यालय रामपुर पूर्व</string>
		<string>प्राथमिक विद्यालय रामपुर पश्चिम</string>
		<string>प्राथमिक विद्यालय बड़कांशाहपुर</string>
		<string>उच्च प्राथमिक विद्यालय भरतपुर खुर्द</string>
		<string>जूनियर हाई विद्यालय तिपतिया</string>
		<string>बाबू रैम मिश्र आदर्श इंटर कालेज बाम्हणिपुर</string>
		<string>प्राथमिक विद्यालय नगला लाची</string>
		<string>प्राथमिक विद्यालय मोहरी उत्तर</string>
		<string>प्राथमिक विद्यालय मोहरी दक्षिण</string>
		<string>प्राथमिक विद्यालय चमरपुर रुद्रपुर</string>
		<string>प्राथमिक विद्यालय नगरिया</string>
		<string>प्राथमिक विद्यालय कुइटा पूर्व</string>
		<string>प्राथमिक विद्यालय कुइटा पश्चिम</string>
		<string>प्राथमिक विद्यालय नगला भगे</string>
		<string>प्राथमिक विद्यालय कौआ पूर्व</string>
		<string>प्राथमिक विद्यालय रामपुरा</string>
		<string>जूनियर हाई विद्यालय डीग</string>
		<string>प्राथमिक विद्यालय जफर पुरा</string>
		<string>प्राथमिक विद्यालय डींग</string>
		<string>प्राथमिक विद्यालय नगला मसूद</string>
		<string>कन्या जूनियर हाई विद्यालय समथर पूर्व</string>
		<string>कन्या जूनियर हाई विद्यालय समथर पश्चिम</string>
		<string>प्राथमिक विद्यालय समथर</string>
		<string>प्राथमिक विद्यालय नगला पछाया</string>
		<string>प्राथमिक विद्यालय आमथारी</string>
		<string>प्राथमिक विद्यालय आमथारी</string>
		<string>प्राथमिक विद्यालय रुदौली</string>
		<string>प्राथमिक विद्यालय कुरखा</string>
		<string>प्राथमिक विद्यालय अघिनी</string>
		<string>प्राथमिक विद्यालय अघिनी</string>
		<string>उच्च माध्यमिक विद्यालय, खड़गपुर सरिया</string>
		<string>प्राथमिक विद्यालय हिन्दुपुर बैदपुर</string>
		<string>प्राथमिक विद्यालय सोंथाना</string>
		<string>प्राथमिक विद्यालय रामपुरा पचार गोत्र</string>
		<string>जूनियर हाई विद्यालय रामपुरा पचार गोत्र</string>
		<string>प्राथमिक विद्यालय भगवन्तपुरा ग्राम हरकुंजलपुर</string>
		<string>प्राथमिक विद्यालय पुरेला (आर.एन. 1)</string>
		<string>प्राथमिक विद्यालय पुरेला (आर.एन. 2)</string>
		<string>जूनियर हाई विद्यालय विशुनपुरा नगला गुजराती</string>
		<string>KANNYA जूनियर हाई विद्यालय कूदरेैल पूर्व</string>
		<string>KANNYA जूनियर हाई विद्यालय कूदरेैल पश्चिम</string>
		<string>प्राथमिक विद्यालय कूदरेैल</string>
		<string>प्राथमिक विद्यालय कूदरेैल</string>
		<string>प्राथमिक विद्यालय पूरनपुर</string>
		<string>प्राथमिक विद्यालय बदरियापूठ</string>
		<string>प्राथमिक विद्यालय नगला चतुर</string>
		<string>प्राथमिक विद्यालय नारायणपुर</string>
		<string>प्राथमिक विद्यालय केशोपुर</string>
		<string>प्राथमिक विद्यालय कठौतिया</string>
		<string>प्राथमिक विद्यालय पटियायत पूर्व</string>
		<string>प्राथमिक विद्यालय पटियायत पश्चिम</string>
		<string>जूनियर हाई विद्यालय ताखा पूर्व</string>
		<string>जूनियर हाई विद्यालय ताखा पश्चिम</string>
		<string>प्राथमिक विद्यालय कायमपुर रूम 1</string>
		<string>प्राथमिक विद्यालय कायमपुर रूम 2</string>
		<string>प्राथमिक विद्यालय नगला दुली</string>
		<string>प्राथमिक विद्यालय नगला धकाउ रूम 1</string>
		<string>प्राथमिक विद्यालय नगला धकाउ रूम 2</string>
		<string>उच्च माध्यमिक विद्यालय मामन हिमतपुर पूर्व</string>
		<string>उच्च माध्यमिक विद्यालय मामन हिमतपुर पश्चिम</string>
		<string>प्राथमिक विद्यालय गंगदासपुर</string>
		<string>प्राथमिक विद्यालय नगला मकई</string>
		<string>प्राथमिक विद्यालय सराबा उत्तर</string>
		<string>प्राथमिक विद्यालय सराबा मध्य</string>
		<string>प्राथमिक विद्यालय बेलहर</string>
		<string>बलवंत शहीद  नगरिया यादवन (बेलहर)</string>
		<string>प्राथमिक विद्यालय नगला धोकल </string>
		<string>प्राथमिक विद्यालय रतहरी सराबा</string>
		<string>प्राथमिक विद्यालय नगरिया सराबा</string>
		<string>प्राथमिक विद्यालय ककराही पूर्व</string>
		<string>प्राथमिक विद्यालय ककराही पश्चिम</string>
	</array>
</dict>
</plist>
